@use "variables.scss";

$-sizes: (
  "0": 0,
  "1": 0.2,
  "2": 0.25,
  "3": 0.75,
  "4": 1,
);

$-sides: variables.$sides;
$-unit: variables.$unit;

@each $size-key, $size in $-sizes {
  .br#{$size-key} {
    border-radius: $size + $-unit;
  }
}

.brt {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.brr {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.brb {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.brl {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.brpill {
  border-radius: 50%;
}
