@use "./skeleton/style.scss";
@use "./theme.scss";
@use "./base.scss";

$default: #000000;
$contrast: #ffffff;
$primary: #0000ff;
$error: #ff9999;
$secondary1: #f9f9f9;
$secondary2: #cccccc;
$secondary3: #999999;

@include theme.configure(
  theme-1,
  $default,
  $contrast,
  $primary,
  $error,
  $secondary1,
  $secondary2,
  $secondary3,
);

.menu {
  @extend .boxShadow, .bgDefault, .borderPrimary;
  border-width: 1px;
  border-style: solid;
}
